.ant-layout-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0 20px;
}

.messages {
	flex-grow: 1;
	overflow-y: auto;
	width: 600px;
}

.message {
	font-size: 1em;
	max-width: 450px;
	overflow-wrap: break-word;
	white-space: normal;
}

.userMessage {
	align-self: flex-end;
}

.botMessage {
	align-self: flex-start;
}
